<!DOCTYPE html>

<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/cadastro.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />

    <title>Cadastro</title>
  </head>

  <body>
    <div class="logo">
      <h1>Travel Copilot</h1>
    </div>
    <div id="sign-up">
      <form class="card" action="{{url_for('login')}}">
        <div class="card-header">
          <h2>Cadastre-se</h2>
        </div>

        <div class="card-content">
          <div class="card-content-area">
            <label for="name">Nome</label>

            <input type="text" id="name1" autocomplete="off" />
          </div>

          <div class="card-content-area">
            <label for="email">E-mail</label>

            <input type="email" id="email" autocomplete="off" />
          </div>

          <div class="card-content-area">
            <label for="password">Senha</label>

            <input type="password" id="password" autocomplete="off" />
          </div>
          <div class="card-content-area">
            <label for="repassword">Confirme a senha</label>

            <input type="password" id="repassword" autocomplete="off" />
          </div>
        </div>

        <div class="card-footer">
          <button type="submit" class="submit">Cadastrar</button>
        </div>
      </form>
    </div>
  </body>
</html>
