<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/naoEncontrado.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <title>Não Encontrado</title>
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <nav class="navbar navbar-expand-lg bg-navbar w-100">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Travel Copilot</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/planejar"
                >Planeje sua Viagem</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section
      class="d-flex justify-content-center align-items-center h-75 m-0 p-0"
    >
      <div class="info-card rounded px-5 py-4 mx-2">
        <p class="fs-2 mb-3 fw-bold">
          Não foi possível encontrar opções dentro dos critérios escolhidos.
        </p>
        <p class="fs-5">
          Mas não desanime, você pode rever o tempo de estadia ou orçamento e
          fazer uma nova pesquisa.
        </p>
        <div class="text-center mt-5">
          <a class="search-button mt-2 rounded w-100" href="/planejar"
            >Clique aqui para nova pesquisar novamente</a
          >
        </div>
      </div>
    </section>
  </body>
  <footer class="p-3 footer">
    <div class="d-flex align-items-center">
      <ul class="items-list p-0 m-0">
        <li>Sobre Nós</li>
        <li>Contato</li>
      </ul>
      <div class="ms-auto">
        <a
          href="https://br.freepik.com/vetores-gratis/conjunto-de-ilustracao-de-desenhos-animados-de-trajetorias-de-aviao-pontilhado-caminho-ou-caminho-de-aviao-aeronave-de-jato-em-forma-de-coracao-linha-ou-circulos-com-ponto-de-destino-ou-marca-de-localizacao-viagem-distancia-conceito-de-rota_29119144.htm#query=airplane&position=0&from_view=search&track=sph"
          >Imagem de pch.vector</a
        >
      </div>
    </div>
  </footer>
</html>
